@import "tailwindcss";

html,
body {
  /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
  color: #f3f4f6;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.video-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space between the two videos */
  padding: 1rem;
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.video-wrapper > .react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Optional: smaller on mobile */
@media (max-width: 768px) {
  .video-wrapper > .react-player {
    height: 250px;
    width: 450px;
  }
}
